*{
    margin: 0 0;
    padding: 0 0;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
	background-color: #848482;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#result{
    width: 300px;
    font-size: 32px;
    outline: none;
}

.buttons-block{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
	background-color: #008080;
    /* gap: 5px; */
}

.button{
    flex-basis: 75px;
    height: 75px;
    font-size: 40px;
	background-color: #0069ff;
	border: solid;
	border-radius: 10px;
}